@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    background-color: rgb(153, 192, 137);
}

.text-center {
    text-align: center
}

.sec2{
    display: flex;
    justify-content: center;
}

.container{
    border-radius: 10px;
    height:385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    margin: 0px 0px;
}
.calculator{
    padding: 20px;
    border: 1px solid #0b52df;
    border-radius: 16px;
    background: rgb(87, 87, 87);
}
.display{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 10px;
    background: rgb(188, 209, 192);
}

input{
    width: 260px;
    border:none;
    margin: 5px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: rgb(238, 255, 0);
}

input::placeholder{
    color: rgb(238, 255, 0);
}

.button {
    padding: 0px;
    margin: 6px 2px;
    height: 45px;
    width: 60px;
    border-radius: 11px;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    text-align:center;
}

.ac{
    background: rgb(223, 77, 77);
    color: white;
}

.del{
    background: rgb(100, 100, 231);
    color:white;
}
.operator{
    background: #2499e7;
    color: white;
}

.last{
    display: flex;
    justify-content: space-around;
}
.equal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(244, 164, 75);
    color: white;
}

footer .footer-rights {
    margin-top: 30px;
    text-align: center;
    color:  #5691d0e6;
    padding: 5px;
}